/* ABOUT SECTION */

body img:hover{
  opacity: 0.9 !important;
  transform: scale(1.04);
  opacity: 0.9;
  cursor: pointer;
  transition: 0.7s;
}

body .HeroImg{
  width: 100%;
  height: 100%;
}

body .HeroImg1{
  width: 100%;
  height: 100%;
}

body .aboutPictureTakeDownn{
  margin-top: 13%;
}

